In [2]:
import pandas as  pd

In [13]:
df = pd.read_csv("../data/tripadvisor_hotels_all.csv")
df.head()

,Country,Name,Tripadvisor
0,Germany,9,https://www.tripadvisor.com/Hotel_Review-g1986...
1,Germany,Fairmont Hamburg,https://www.tripadvisor.com/Hotel_Review-g1873...
2,Germany,Fontenay Hamburg,https://www.tripadvisor.com/Hotel_Review-g1873...
3,Germany,�schberghof,https://www.tripadvisor.com/Restaurant_Review-...
4,Germany,B�low Dresden,https://www.tripadvisor.com/Hotel_Review-g1873...

In [14]:
df_sustainable = pd.read_csv("../data/tripadvisor_hotels_sostenibles.csv")
df_sustainable.head()

,Country,Name,Tripadvisor
0,Germany,Fairmont Hamburg,https://www.tripadvisor.com/Hotel_Review-g1873...
1,Germany,Fontenay Hamburg,https://www.tripadvisor.com/Hotel_Review-g1873...
2,Germany,�schberghof,https://www.tripadvisor.com/Restaurant_Review-...
3,Germany,Breidenbacher Hof D�sseldorf,https://www.tripadvisor.com/Hotel_Review-g1873...
4,Germany,Excelsior K�ln,https://www.tripadvisor.com/Hotel_Review-g1873...

In [23]:
names = df_sustainable['Name'].tolist()
names

['Fairmont Hamburg',
 'Fontenay Hamburg',
 '�schberghof',
 'Breidenbacher Hof D�sseldorf',
 'Excelsior K�ln',
 'Europ�ischer Hof Heidelberg',
 'Brenners Park Hotel',
 'Hotel Der Birkenhof Spa & Genuss Resort',
 nan,
 'Bulgari Hotel Paris',
 'HOTEL Domaine des Etangs',
 'Le Birstol Paris',
 nan,
 'Hotel Lefay Resort & SPA Dolomiti',
 nan,
 'Hotel Abadia Retuerta LeDomaine',
 'Hotel Summum Prime Boutique Hotel Mallorca',
 'Hotel Arantza Hotela',
 nan,
 'Hotel Parc Broekhuizen',
 'Sofitel Legend The Grand Amsterdam',
 'Hotel De L�Europe Amsterdam',
 'Grand Hotel Huis ter Duin',
 'Hotel Waterrijk Oesterdam',
 nan,
 'Balthazar Design Hotel Krakau',
 'Hotel Unicus Palace',
 'Hotel Bristol, A Luxury Collection Hotel, Warsaw',
 'Hotel Testa',
 nan,
 'Hotel Chateau Mcely',
 nan,
 'Hotel Sans Souci Wien',
 'Hotel Astoria Resort',
 nan,
 'DoubleTree by Hilton Zagreb',
 nan,
 'Avalon Resort and Spa',
 nan,
 'Hotel Six Senses Douro Valley',
 'Corpo Santo Lisbon Historical Hotel',
 'Hotel S�o Louren�o do Barrocal',
 'The Yeatman Hotel']

In [29]:
not_sustainable = df.query('Name not in @names')
not_sustainable.head()

,Country,Name,Tripadvisor
0,Germany,9,https://www.tripadvisor.com/Hotel_Review-g1986...
4,Germany,B�low Dresden,https://www.tripadvisor.com/Hotel_Review-g1873...
5,Germany,Adlon Kempinski Berlin,https://www.tripadvisor.com/Hotel_Review-g1873...
6,Germany,Hotel Romantik ROEWERS Privathotel,https://www.tripadvisor.com/Hotel_Review-g6161...
8,Germany,Regent Berlin,https://www.tripadvisor.com/Hotel_Review-g1873...

In [30]:
DATA_PATH = '../data/web_scraping/outputs/tripadvisor_hotels_sustainables_v2.csv'
DATA = pd.read_csv(DATA_PATH)